.tip {
width: 212px;
padding-top: 37px;
overflow: hidden;
display: none;
position: absolute;
z-index: 500;
text-align:center;
font:normal 21px arial;
background: transparent url(css/images/tipTop.png) no-repeat top;
}
.tipMid {background: transparent url(css/images/tipMid.png) repeat-y; padding-bottom: 10px;}
.tipBtm {background: transparent url(css/images/tipBtm.png) no-repeat bottom; height: 32px;}